# Review Dashboard Auth
REVIEWER_EMAILS="reviewer1@example.com,reviewer2@example.com"
ADMIN_EMAILS="admin@example.com"
OTP_EXPIRY_MINUTES="10"
SESSION_EXPIRY_DAYS="3"

DATABASE_URL="postgresql://bigzoo:postgres@localhost:5432/gophercon"
RESEND_API_KEY=""

# NextAuth
# NEXTAUTH_SECRET=""
# NEXTAUTH_URL="http://localhost:3000"
